:markdown
  ## Example anti-harassment policy for conferences

  ### Introduction

  This is an example anti-harassment policy suitable for most open source, computing, or technology-related conferences. It may be adopted unchanged or tweaked to suit your conference.

  Why have an official anti-harassment policy for your conference? First, it is necessary (unfortunately). Harassment at conferences is incredibly common - for example, see this [timeline of sexist incidents in geek communities](http://geekfeminism.wikia.com/index.php?title=Timeline_of_incidents "Timeline_of_incidents"). Second, it sets expectations for behavior at the conference. Simply having an anti-harassment policy can prevent harassment all by itself. Third, it encourages people to attend who have had bad experiences at other conferences. Finally, it gives conference staff instructions on how to handle harassment quickly, with the minimum amount of disruption or bad press for your conference.

  We have collected some discussion about common concerns and questions surrounding adoption of an anti-harassment policy here:

  [Anti-harassment policy resources and HOWTO](http://geekfeminism.wikia.com/wiki/Anti-harassment_policy_resources)

  ### Anti-harassment policy text

  Most conferences will want several different versions of an anti-harassment policy: a short, medium, and long version of the policy for public consumption, and an internal version spelling out implementation for use by the conference organizers and staff.

  #### Short public version

  This is a very short version that refers the reader to a longer version of the policy. Suitable for footers on announcement emails, web pages, news stories, etc.

  ArrrrCamp is dedicated to a harassment-free conference experience for everyone. Our anti-harassment policy can be found at: [URL for full anti-harassment policy]

  #### Medium public version

  This is a statement of the organizers' principles and sets expectations for the tone and style of the conference. Suitable for the conference web site and longer announcements.

  ArrrrCamp is dedicated to providing a harassment-free conference experience for everyone [, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, or religion [insert any other specific concerns here]]. We do not tolerate harassment of conference participants in any form. [Sexual language and imagery is not appropriate for any conference venue, including talks.] Conference participants violating these rules may be sanctioned or expelled from the conference [without a refund] at the discretion of the conference organizers. Our anti-harassment policy can be found at: [URL for full anti-harassment policy]

  #### Long public version

  This version focuses on specific instructions to the participants, with the goal of preventing harassment in the first place through education. Suitable for the conference web site and conference program material.

  Harassment includes offensive verbal comments [related to gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, religion, [your specific concern here]], sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention. Participants asked to stop any harassing behavior are expected to comply immediately.

  [Exhibitors in the expo hall, sponsor or vendor booths, or similar activities are also subject to the anti-harassment policy. In particular, exhibitors should not use sexualized images, activities, or other material. Booth staff (including volunteers) should not use sexualized clothing/uniforms/costumes, or otherwise create a sexualized environment.]
  <dl><dd> If a participant engages in harassing behavior, the conference organizers may take any action they deem appropriate, including warning the offender or expulsion from the conference [with no refund]. If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately. [Conference staff can be identified by t-shirts/special badges/head sets.]

  Conference staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.

  [Email address for organizers]
  [Phone number for conference security or organizers]
  [Phone number for hotel/venue security]
  [Local law enforcement]
  [Local sexual assault hot line]
  [Local emergency and non-emergency medical]
  [Local taxi company]
  We expect participants to follow these rules at all conference venues and conference-related social events.

  ## License and attribution

  This policy is licensed under the [Creative Commons Zero license](http://creativecommons.org/publicdomain/zero/1.0/) . It is **public domain**_, _no credit and no open licencing of your version is required.

  If you would like to optionally attribute it, you could use the below text and link to [http://geekfeminism.wikia.com/wiki/Conference_anti-harassment](http://geekfeminism.wikia.com/wiki/Conference_anti-harassment):

  <dl><dd> This anti-harassment policy is based on the example policy from the Geek Feminism wiki, created by the Ada Initiative and other volunteers.

  This policy is based on several other policies, including the Ohio LinuxFest anti-harassment policy, written by Esther Filderman and Beth Lynn Eicher, and the Con Anti-Harassment Project. Mary Gardiner, Valerie Aurora, Sarah Smith, and Donna Benjamin generalized the policies and added supporting material. Many members of LinuxChix, Geek Feminism and other groups contributed to this work.
