:markdown
  # Conference Policies

  ## Code Of Conduct

  ArrrrCamp 2014 is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not deemed appropriate for any conference venue, including talks. Conference participants violating any of these rules may be sanctioned or expelled from the conference, at the discretion of the conference organizers.

  Harassment includes, but is not limited to: offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, or religion; sexual images in public spaces; deliberate intimidation; stalking; following; harassing photography or recording; sustained disruption of talks or other events; inappropriate physical contact; and any unwelcome sexual attention. Participants asked to stop any harassing behaviour are expected to comply immediately.

  If a participant engages in harassing behaviour, conference organizers may take any action they deem appropriate, including warning the offender or expulsion from the conference. If you are being harassed, notice that someone else is being harassed, or have any other concerns regarding violations of this policy, please contact a member of conference staff immediately. Conference staff can be identified by t-shirts and pirate hats.

  Conference staff are happy to help participants contact venue staff or local law enforcement, provide escorts, or in any other way assist those experiencing harassment. Having a safe environment for our conference participants is of paramount importance to us, and we value your help towards creating this space.

  ArrrrCamp participants are subject to this policy at all conference and conference-related social events.

  ## As a speaker

  Speakers at ArrrrCamp should be aware of their power and know that they kind of speak in name of our conference. Therefore, you should know that you and your slides should act as an example. We do not tolerate any kind of harassments during your talk, even a little joke can be offended to scare people away from our conferences.

  We are always happy to take a look at your slides or talk up front if you are not sure about your content.

  Organizers email: captain@arrrrcamp.be
  Organizers phone: 0032 473 43 69 54
  Local sexual assault hot line: 1712 (www.1712.be)
  Emergency number: 112
