.row.marketing
  .col-lg-6
    %h4 What am I speaking about
    %p Everything your audience would like to hear.
    %h4 Who's my audience
    %p Pirates in all kind of funny forms, Rubiests, Railsers, Javascripters, frontenders, testers,...
    %h4 How long are the talks
    %p 40 minutes, with time for questions, although we would like to ask not to do questions. We have 30 min. breaks between each talk, enough for a lot of personal questions.
  .col-lg-6
    %h4 In what language do I speak
    %p English
    %h4 How will you pick talks
    %p The Captain's finest crew will read all submissions an pick a couple of them. This proces is 100% anonymous, all personal data is scrambled and we can only see it after we have selected all talks.
    %h4 Will I get paid?
    %p Unfortunalty not, we can help with traveling costs and do our best to find a special deal with hotels for all of our guests.
