%p.lead
  %a.btn.btn-default{href: "proposals/new"} Submit your proposal
%div
  %h4 Call For Proposals
  %p
    ArrrrCamp is up to edition 8 already, taking place on the 2nd and 3rd of February. That means we're looking for speakers much in the same way as we do each year. As always we welcome both established speakers and new people, and will do our very best to help everyone who has questions or would like some guidance in preparation for their talk.
  %p
    ArrrrCamp is a cozy conference and we've found everyone to be very welcoming. We're confident first time speakers too are a great asset to our conference, so please don't hold back in submitting a proposal or asking questions!
  %p
    The Call For Proposals will remain open until May 16th at noon Belgian time (CET).

  %h4 Single track
  %p
    ArrrrCamp 2014 will only have a single track. We believe that pulling everyone together in a big cozy theater will increase the feeling of togetherness. That means that there will be no longer be a fairly clear division in theme for the old "Lower Deck" and "Upper Deck" rooms.
  %p
    Talks can range from technical talks on Ruby (or Rails, Sinatra, ...) to live coding sessions, from inspirational talks to more general knowledge relevant to our industry (think team communication, project management, ...) to front-end and even design. We are a diverse conference with a strong focus on Ruby, and would love to end up with a program of about 50% ruby, 25% inspirational and 25% other technologies.
  %p
    The audience will consist of Rubyists, Rails developers, JavaScript or front-end developers, ...
  %p
    All of our talks are in English. Sessions are 40 minutes long with 30 minute breaks in between. We encourage people to discuss during the breaks if there are any questions, but if you want you can have Q&A during your session as well.

  %h4 The process
  %p
    The submissions we receive will be handled anonymously. That means that personal information is scrambled in the database until the selection process is over, at which point we will decode the personal information and get in touch. We hope this transparent approach will benefit the diversity of the conference, and that it will encourage underrepresented groups to submit proposals as well.
  %p
    Once again, we're a very welcoming bunch and would love to help out with any questions you may have.

  %h4 What's in it for you
  %p
    Speakers at ArrrrCamp receive a 200 Euro allowance to help with travel and accommodation. On top of that you also get a full ticket with lunch and breakfast included and access to all of our fringe events. We are working on discount coupons for local hotels, and will assist with pretty much anything going from travel arrangements to questions about your presentation.

  %h4 Code of Conduct
  %p
    We are dedicated to making everyone feel welcome and at home, both during the conference and at the fringe events. Our [Code of Conduct](http://arrrrcamp.be/coc) offers some guidelines to ensure this for both attendees and speakers. The crew is available to anyone who is anything less than completely comfortable at our events.
%p.lead
  %a.btn.btn-default{href: "proposals/new"} Submit your proposal
